body
{
	background: #d1efff;
	font-family: arial;
}

#top-of-page
{
	position: fixed;
	padding-bottom: 5px;
	top: 0;
	width: 100%;
	z-index: 1;
}

header div.container-fluid
{
	background: #11c7ff;
	box-shadow: 2px 2px 2px 2px #999999;
	color: white;
}

header div.container-fluid h3
{
	padding: 10px 0 0 0;
}

header div.container-fluid h3 span
{
	background: white;
	color: #777777;
	margin: 0 0 5px 10px;
}

nav div.container-fluid
{
	margin: 20px 0 0 0;
}

nav div.container-fluid nav a
{
	background: white;
	border-radius: 5px;
	box-shadow: 2px 2px 2px 2px #999999;
	margin: 0 5px 0 5px;
	width: 20%;
}

nav div.container-fluid nav a:hover
{
	background: #87d7ff;
	color: black;
}

.dropdown-menu
{
	background: transparent;
	border-color: transparent;
}

.dropdown-item
{
	margin: 10px;
}

div#content-body
{
	margin: 10% 5% 0 5%;
}

div#content-body div.card
{
	border-radius: 5px;
	box-shadow: 2px 2px 2px 2px #999999;
	color: #777777;
	float: left;
	margin: 2.5%;
}